<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= content_for?(:title) ? yield(:title) : "Europe-Arena" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Europe-Arena" %>">

    <%= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
        <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= render 'layouts/logo' %>
        <%= render 'layouts/navigation' %>
        <div class="row content">
          <%= yield %>
          <%= render 'layouts/stats' %>
        </div>
        <%= render 'layouts/realmlist' %>
        <%= javascript_include_tag 'vendor/modernizr' %>
        <%= javascript_include_tag 'proton', 'data-turbolinks-track' => 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </body>
</html>