<!DOCTYPE html>
<html class="no-js" lang="en">
<html>
  <head>
    <title>Europe-Arena</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="assets/stylesheets/app.css">
  </head>

  <body>
    <%= yield %>

    <%= javascript_include_tag 'bower_components/jquery/dist/jquery', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bower_components/what-input/what-input', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bower_components/foundation-sites/dist/foundation', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'proton-1.0.0.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' %>
  </body>
</html>