<!DOCTYPE html>
<html class="no-js" lang="en">
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= content_for?(:title) ? yield(:title) : "Europe-Arena" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Europe-Arena" %>">

    <%= javascript_include_tag 'proton', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag 'app', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'app', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
       <%= yield %>
  </body>
</html>
